<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Cnx" connectionString="1?;2?;3?;4?"/>
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
      
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <globalization culture="es-PE" uiCulture="es-PE"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ServicioWCF.Fachada" behaviorConfiguration="BehaviorServicio">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" contract="ContratoWCF.IMaestros"/>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" contract="ContratoWCF.IGenerales"/>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" contract="ContratoWCF.ISeguridad"/>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" contract="ContratoWCF.IVentas"/>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" contract="ContratoWCF.IAlmacen"/>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" contract="ContratoWCF.IContabilidad"/>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" contract="ContratoWCF.ICtasPorPagar"/>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" contract="ContratoWCF.ICtasPorCobrar"/>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" contract="ContratoWCF.ITesoreria"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingConfig" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxArrayLength="2147483647" maxDepth="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
          <security mode="None">
            <message clientCredentialType="None"/>
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BehaviorServicio">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="1000" maxConcurrentInstances="1000"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.transactions>
    <defaultSettings timeout="02:00:00"/>
  </system.transactions>
</configuration>